.container-login .btnToReservas {
  width: 55%;
  padding: 8px;
  background: #017fb5;
  color: #ffffff;
  margin-left: auto;
  margin-right: auto;
  -webkit-box-shadow: -2px 1px 11px 0px rgba(0, 0, 0, 0.93);
  -moz-box-shadow: -2px 1px 11px 0px rgba(0, 0, 0, 0.93);
  box-shadow: -2px 1px 11px 0px rgba(0, 0, 0, 0.93);
}
.container-login h3 {
  text-align: center;
  font-size: 25px;
  font-weight: 600;
  color: #017fb5;
}
.container-registros p {
  text-align: center;
  font-size: 25px;
  font-weight: 800;
  color: #ffffff;
  padding-bottom: 20px;
  padding-top: 20px;
}
.container-registros {
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  background-image: url(../../img/fondo.jpg);
  background-repeat: none;
  background-position-x: center;
  background-position-y: center;
  text-align: center;
}

.container-registros-gray {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  background-color: #3838386e;
}
.container-registros input {
  width: 50%;
  padding: 5px;
  margin: 20px;
}

.container-registros .item input {
  background-color: #3d3d3d0c;
  border-top: none;
  border-right: none;
  border-left: none;
  border-bottom-color: #017fb5;
  border-bottom-width: 1.5px;
  outline: none;
  color: #ffffff;
}

.container-registros .item ::placeholder {
  font-weight: 600;
  color: #ffffff;
}

.container-registros .btn {
  background-color: #017fb5;
  color: #ffffff;
  font-size: 20px;
}
